:root{
--now-color_background--primary: 70,70,70 !important;
/*--now-color--neutral-0: #FF0000;
--now-color--neutral-1: #FF0000;
--now-color--neutral-2: #FF0000;
--now-color--neutral-3: #FF0000;
--now-color--neutral-4: #FF0000;
--now-color--neutral-5: #FF0000;*/
}